* {
    margin: 0;
    padding: 0;
}


.title_page {
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  padding: 6rem 0 1px;
}

.breadcrumps {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 1rem 0;
  background: rgba(0, 0, 0, 0.4);
  z-index: 1;
}

.breadcrumps_inner {
  margin-left: auto;
  margin-right: auto;
  max-width: 90.5rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.breadcrumps_wripper {
  position: relative;
  display: flex;

  align-items: center;
  font-size: 0.875rem;
  line-height: 1;
}

.home_icon {
  margin-right: 5px;
  width: 20px;
  height: 20px;
  &:hover {
    filter: invert(100%);
  }
}

.breadcrumps_text {
  margin-top: 4px;
  font-family: "PT Sans";
  align-items: center;
  justify-content: center;
  color: #8490a4;
}

.title_page_bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.picture {
  display: block;
  height: 100%;
}

.title_page_bg_img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;

  object-fit: cover;

  object-position: 50% 100%;
  max-width: none;
}

.title_page_inner {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  max-width: 90.5rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.title_page_wrapper {
  margin-top: 80px;
  position: relative;
  z-index: 1;
}

.title_page_h1 {
  font-weight: 900;
  font-family: sans-serif;
  font-size: 3rem;
  line-height: 1.17;
  font-weight: normal;
  margin-bottom: 1rem;
  color: #fff;
}

.title_page_text {
  font-size: 1.25rem;
  font-family: "PT Sans";
  font-weight: 700;
  line-height: 1.4;
  max-width: 590px;
  margin: 0 auto 2.625rem;
  text-align: center;
  color: #8490a4;
  cursor: pointer;
}

.button {
  height: 3.5rem;
  line-height: 3.5rem;
  background: #2c3849;
  border: none;
  border-radius: 4px;
  font-weight: bold;
  font-size: 0.85rem;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #a7e200;
  margin-top: 1.625rem;
  margin-bottom: 5rem;
  min-width: 14.9375rem;
  margin-left: 565px;
  cursor: pointer;
  &:hover {
    background: #384557;
  }
}

.title_page_hidd {
  text-align: left;
  max-width: 57.5rem;
  margin: 0 auto;
  padding: 4.5rem 0 0;
}

.title_page_h2 {
  font-weight: normal;
  font-size: 3rem;
  font-family: "PT Sans";
  margin-bottom: 2rem;
  color: #fff;
}

.title_page_hidd p {
  font-family: "PT Sans";
  font-size: 1rem;
  line-height: 1.5;
  margin-bottom: 24px;
  color: #8490a4;
}

.text_list {
  list-style: circle;
}

.title_page_h3 {
  font-weight: normal;
  font-size: 1.5rem;
  line-height: 1.33;
  margin: 0 0 1rem;
}

.features {
    margin-bottom: 9rem;
    box-sizing: border-box;
    width: 95%;
}

.features_inner {
  margin-left: auto;
  margin-right: auto;
  max-width: 90.5rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.features_wrapper {
  background: #1c232e;
  position: relative;
  padding: 1.5rem;
}

.features_title {
  margin-bottom: 1.5rem;
  margin-left: 1rem;
  font-weight: normal;
  font-size: 1.5rem;
  font-family: "PT Sans";
  color: #fff;
}

.features_list {
  display: flex;
  list-style: none;
  margin-left: -2.5rem;
  width: 83.66%;
}

.features_li {
  padding-left: 2.5rem;

  margin-right: 0;
  width: 33.33%;
  &:not(:first-child) {
    border-left: 1px solid #3f4c5f;
  }
}

.features__text {
  font-family: "PT Sans";
}

.star {
  width: 20px;
  height: 20px;
  margin-bottom: 10px;
}

.features_img_box {
  position: absolute;
  top: -10%;
  right: 0;
  width: 27.2%;
}

.features_img {
  width: 300px;
  height: 300px;
}

.game_list {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
  
}

.game_item{
   
    &:first-child{
        margin-right: 40px;
    }
}

.link {
    position: relative;
}

.img_game {
  border-radius: 10px;

}

.img_logog {
    height: 40%;
}

