@import "../../index.scss";

.drop_down {
  font-size: 14px;
  font-weight: 500;
  width: 250px;
  border: 2px solid $gray;
  border-radius: 5px;
  overflow: hidden;
  background-color: #101928;
  .drop {
    cursor: pointer;
    position: relative;
    height: 40px;
    width: 100%;
    display: flex;
    align-items: center;
    padding: 0 10px;
    color: $green;
    img {
      position: absolute;
      width: 16px;
      right: 10px;
      transform: rotate(90deg);
      transition: 0.5s;
    }
  }
  .drop_active {
    img {
      transform: rotate(270deg) !important;
    }
  }
  .parent {
    width: 100%;
    max-height: 230px;
    padding: 0 0 0 10px;
    overflow: auto;
    text-transform: uppercase;
    word-wrap: break-word;
    box-sizing: border-box;
    color: $gray;
    &::-webkit-scrollbar {
      width: 3.5px; /* ширина всей полосы прокрутки */
    }
    &::-webkit-scrollbar-track {
      background: #101928; /* цвет зоны отслеживания */
    }
    &::-webkit-scrollbar-thumb {
      border: 2.5px solid $green; /* отступ вокруг бегунка */
      border-radius: 10px;
    }
    div {
      height: 40px;
      display: flex;
      align-items: center;
      cursor: pointer;
      &:hover {
        color: $green;
      }
      &:focus {
        color: $green;
      }
    }
  }
}
