.mainBasket {
    width: 100%;
}

.mainOfMain {
    display: flex;
    justify-content: space-around;
}

.nav {
    display: flex;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.529);
    width: 100%;
    height: 70px;
    padding-left: 40px;
    position: absolute;

    p {
        color: #8490A4;
        font-size: 15px;
    }
}

.imageDom {
    width: 20px;
    margin-right: 5px;
    margin-top: 5px;

    &:hover {
        filter: invert(100%);
    }
}

.mainImg {
    background-image: url('https://edelws.ru/upload/uf/bfc/bfc073b789ca7a1468b32add7c7dfa34.png');
    background-size: cover;
    background-color: rgb(12, 12, 12);
    height: 450px;
    display: flex;
    align-items: center;
    justify-content: center;

    h1 {
        font-size: 4rem;
        color: #FFFFFF;
    }
}

.mainBasket {
    width: 100%;
}

.wrapper {
    width: 60%;
    padding: 20px;
    padding-left: 40px;

    h2 {
        font-size: 30px;
        color: #fff;
        margin-left: 12px;
        margin-bottom: 15px;
    }
}

.total {
    width: 500px;
    margin-top: 5px;
    margin-bottom: 20px;
    margin-left: 450px;
    display: flex;
    // border: 1px solid silver;
    justify-content: flex-end;

    p {
        margin-left: 30px;
        color: #A7E200;
        margin-top: 0px;
        font-size: 25px;
    }
}

.total1 {
    margin-left: 20px;
}

.imgRub {
    margin-left: 5px;
    width: 20px;
}

.divasik {
    width: 60%;
}

.bring {
    width: 40%;
    margin-left: 4%;
    padding-left: 3%;
}