@import "../../index.scss";

.bodys {
  width: 100%;
}

.block {
  width: 47%;
  margin: auto auto 50px auto;
}

.Title {
  font-size: 26px;
  color: white;
  font-weight: 500;
  margin-bottom: 3%;
}

.Text {
  width: 100%;
  border-bottom: 3px dotted;
  margin-top: 15px;
}

.Text button {
  background-color: transparent;
  border: none;
  font-size: 35px;
  color: white;
  padding: 0 7px;
  cursor: pointer;
}

.Numbers {
  display: flex;
  justify-content: space-between;
  font-size: 20px;
  cursor: pointer;
}

.Secret {
  width: 490px;
  font-size: 17px;
  margin-bottom: 20px;
}

.load {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10%;
}