@import "../../index.scss";


body{
    font-family: "PF DinDisplay Pro";
}
.equipment_block{
    
    width: 97%;
    margin: auto;
}

.title{
    h2{
        font-family: "PF DinDisplay Pro";
        font-size: 36px;
        font-weight: 800;
    }
}

.content_item{
    display: flex;
    align-items: center;
    border-bottom: 1px dashed $gray ;
    font-size: 1.25rem;
   
   
    div{
        
        margin: 10px;
    }
}

.content_item_title{
    
    width: 40%;
    align-items: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.content_item_inner{
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 60%;

}

.content_item_inner:hover{
    color: $green;
}

.content{
    width: 55%;
    margin-bottom: 50px;
}

.content_body{
    display: flex;
    justify-content: space-between;
}

.content_info{
    width: 35%;
    min-height: 650px;
    background-color: #1c232e;
}