.main {
  margin: 20px 0;
  div {
    display: flex;
    width: 40%;
    box-sizing: border-box;
    justify-content: space-between;
    h1 {
      font-size: 22px;
      font-weight: 300;
    }
  }
}
