.detalic {
    position: relative;
    display: flex;
    justify-content: space-between;
    padding: 5.5rem 0 5rem;
    text-align: left;
    
}

.breadcrumps {
    background: rgba(0,0,0,0.4);
    padding: 1.5rem 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
}

.breadcrumps_inner {
    margin-left: auto;
    margin-right: auto;
    max-width: 90.5rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}

.breadcrumps_wrapper {
    position: relative;
    display: flex;
    align-items: center;
    font-size: 1rem;
    line-height: 1;
}

.home_icon {
    margin-right: 6px;
    width: 18px;
    height: 18px;
    &:hover {
      filter: invert(100%);
    }
  }

  .breadcrumps_link {
    font-family: "PT Sans";
    font-weight: 400;
    color: #fff;
    &:hover {
        color: #a7e200;
    }
  }

  .breadcrumps_text {
    margin-left: 6px;
    padding-top: 3px;
    padding-left: 6px;
    font-weight: 500;
    font-size: 13px;
    font-family: sans-serif;
    color: #8490a4;
  }

  .title.page {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: opacity .2s ease,visibility .2s ease;
  }

  picture {
    height: 100%;
    display: block;
  } 

  .title_page_img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
  }

  .ditalic_inner {
    position: relative;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    max-width: 90.5rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }

  .ditalic_title {
    position: relative;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    width: 100%;
  }

  .ditalic_start {
    padding-top: 3.375rem;
    position: relative;
  }

  .ditalic_h1 {
    font-family: "PT Sans";
    font-weight: normal;
    font-size: 4rem;
    line-height: 1.12;
    margin-bottom: 1rem;
  }

  .detalic_text {
    font-family: "PT Sans";
    font-size: 1.5rem;
    line-height: 1.33;
    color: #8490a4;
    max-width: 33.4375rem;
    margin: 0 0 4rem;
  }

  .detalic_slider {
    max-width: 50.625rem;
    text-align: center;
    position: relative;
    padding: 2.3125rem 0;
  }

  .detalic_slider_img {
    margin-top: 50px;
    margin-right: 30px;
    max-width: 32.75rem;
  }

  .detalic_controll {
    display: flex;
    flex-wrap: wrap;
    z-index: 98;
  }

  .detalic_btn {
    height: 3.5rem;
    line-height: 3.5rem;
    text-transform: uppercase;
    font-family: "PT Sans";
    font-size: 1rem;
    font-weight: 600;
    color: #0b132b;
    background-color: #a7e200;
    border-radius: 4px;
    border: none;
    padding: 0 60px;
    &:hover {
      background-color: #ccff4c;
    }
  }

  .detalic_controll_price_box {
    display: block;
    margin-bottom: 2rem;
    margin-left: 1.5rem;
   
  }

  .detalic_control_price {
    display: flex;
    align-items: flex-start;
    font-weight: 500;
    font-size: 2rem;
    line-height: 1;
    letter-spacing: .03em;
    color: #a7e200;
  }

  .detalic_control_price span {
    color: #a7e200;
    font-weight: bold;
  }

  .detalic_control_price_img {
    margin-left: 0.5rem;
    width: 1.8125rem;
    height: 1.8125rem;
  }

  .detalic_control_price_credit span {
    color: #8490a4;
    font-weight: bold;
    font-size: 13px;
  }

  .detalic_controll_btn_box {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: -1rem;
  }

  .btn_configur {
    margin-right: 20px;
    padding: 10px 25px;
    text-transform: uppercase;
    font-family: sans-serif;
    font-size: 12px;
    font-weight: bold;
    border: none;
    border-radius: 4px;
    background-color: #2c3849;
    color: #a7e200;
    &:hover {
      background-color: #494949
    }
  }

  .detalic_equipment {
    margin-bottom: 5rem ;
    padding-left: 4rem;
  }

  .detalic_equipment_btn1 {
    width: 450px;
    padding: 1.5rem 2rem;
    font-size: 1.5rem;
    font-family: sans-serif;
    line-height: 1.33;
    background-color: transparent;
    color: #fff;
    border: none;
    border-top: 2px solid #a7e200;
   
  }

  .detalic_equipment_btn2 {
    width: 450px;
    padding: 1.5rem 2rem;
    font-size: 1.5rem;
    font-family: sans-serif;
    line-height: 1.33;
    background-color: #2c3849;
    color: #fff;
    border: none;
   &:hover {
    border-top: 2px solid #a7e200;
   }
  }


  .detalic_list {
    margin-top: 100px;
    width: 61.2%;
  }

  .detalic_item {
    display: flex;
    height: 70px;
    align-items: center;
    margin-top: 10px;
    border-bottom: 1px dashed #56617c;
  }

  .detalic_item span {
    width: 250px;
    font-weight: 500;
    font-size: 19px;
    color: #8490a4;
  }

  .detalic_item img {
    margin-bottom: 10px;
  }

  .detalic_item p {
    margin-left: 50px;
    font-family: sans-serif;
    font-size: 20px;
    color: #c3cee1;
    margin-bottom: 10px;
    &:hover {
      color: #a7e200;
    }
  }


  .detalic_list_min {
    margin-top: 100px;
    width: 61.2%;
  }

  .detalic_item_min {
    display: flex;
    height: 70px;
    align-items: center;
    margin-top: 10px;
    border-bottom: 1px dashed #56617c;
  }

  .detalic_item_min span {
    width: 250px;
    font-weight: 500;
    font-size: 19px;
    color: #8490a4;
  }

  .detalic_item_min img {
    margin-bottom: 10px;
  }

  .detalic_item_min p {
    margin-left: 50px;
    font-family: sans-serif;
    font-size: 20px;
    color: #c3cee1;
    margin-bottom: 10px;
    &:hover {
      color: #a7e200;
    }
  }