@import '../../index.scss';

.mainCompMap {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-flow: row wrap;
    background-image: url('https://edelws.ru/local/templates/main/img/bg.png');
}

.mainOfMain {
    width: 100%;
}

.mainImageCard {
    background-image: url('https://edelws.ru/upload/uf/ccb/ccb27cfac373aa3ae12678e395237603.png');
    background-size: cover;
    background-color: rgb(24, 23, 23);
    height: 450px;
    /* margin-bottom: 20px; */
}

.mainImageCard1 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 700px;
    margin: 0 auto;
    height: 100%;
    /* margin-bottom: 70px; */
    /* margin-top: 40px; */
}

.title {
    font-size: 40px;
    word-break: break-all;
    color: #FFFFFF;
}

.info {
    font-size: 20px;
    /* word-break: break-all; */
    max-width: 500px;
    text-align: center;
    margin-left: 11%;
    color: #8490A4;

}

.CardMain1 {
    width: 210px;
    word-break: break-all;
    color: #C3CEE1;
    font-size: 20px;

    p {
        font-size: 15px;
    }
}

.cardMain {
    display: flex;
    justify-content: space-around;
    margin-top: 40px;
}

.catalogName {
    margin-left: 7%;
    padding-top: 25px;
    color: #FFFFFF;
}

.h {
    font-size: 24px;
}

.star {
    margin-bottom: 2%;
}

.catalogChild {
    background-color: #1C232E;
    height: 310px;
}

.imageBattle1 {
    left: 1150px;
    top: 650px;
    position: absolute;
}

.textImg {
    display: flex;
    padding: 15px;
    background-image: url('https://edelws.ru/local/templates/main/img/bg.png');
}

.textMain {
    /* background-image: url('https://edelws.ru/local/templates/main/img/bg.png'); */
    width: 60%;
    padding-left: 20px;
    padding-right: 30px;
    padding-top: 10px;
}

.imageUno {
    width: 100%;
    display: block;
    object-fit: cover;
}

.imageMain {
    width: 40%;
}

.textMain p {
    color: #8490A4;
}

.titlePC {
    color: #FFFFFF;
    font: 30px "PF DinDisplay Pro";
}

.mainHeader {
    height: 60px;
    background-color: #0a0e15;
    display: flex;
    align-items: center;
    padding-left: 30px;
}

.imageDom {
    width: 20px;
    margin-right: 5px;
    margin-top: 5px;
}

.imageDom:hover {
    filter: invert(100%);
}

.mainHeader p {
    color: #FFFFFF;
    margin-right: 5px;
    font-size: 15px;
    cursor: pointer;

    &:hover {
        color: #A7E200;
        transition: 0.5s;
    }
}

.mainHeader span {
    color: #8490A4;
}

#p {
    color: #8490A4;
    font-size: 12px;
}

.decor {
    text-decoration: none;
}