.header_container {
  a{
    text-decoration: none;
    color: white;
  }
  height: 120px;
  align-items: center;
  background: #212936;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
}

.nav_block {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 20vh;
  padding-left: 40px;
}

.img_location {
  margin-left: 60px;
  width: 22px;
  height: 22px;
  -webkit-filter: invert(100%);
  cursor: pointer;
}

.phone_img {
  margin-left: 70px;
  cursor: pointer;
}

.number {
  text-transform: uppercase;
  font-family: "PT Sans";
  font-weight: 100;
  margin-left: 10px;
  font-size: 24px;
  color: #a7e200;
  font-family: sans-serif;
  cursor: pointer;
}

.number:hover {
  color: #fff;
}

.placeMap {
  text-transform: uppercase;
  font-family: "PT Sans";
  font-weight: 100;
  margin-left: 10px;
  font-size: 24px;
  color: #a7e200;
  cursor: pointer;
}

.placeMap:hover {
  color: #fff;
}

.list {
  position: relative;
  display: flex;
  align-items: center;
  margin-right: 80px;
}

.item {
  font-family: "PT Sans";
  color: #fff;
  font-weight: 100;
  font-size: 13.5px;
  text-transform: uppercase;
  cursor: pointer;
  &:hover {
    color: #a7e200;
  }
}

.item:not(:last-child) {
    margin-right: 20px;
}

.item:hover .nested_list {
  position: absolute;
  top: 100%;
  background-color: #1e2530;
  border-top: 2px solid #a7e200;
  width: 150px;
  display: flex;
  flex-direction: column;
}

.item:hover .nested_list2 {
  position: absolute;
  top: 100%;
  background-color: #1e2530;
  border-top: 2px solid #a7e200;
  width: 150px;
  display: flex;
  flex-direction: column;
}

.img {
  width: 9px;
  height: 9px;
}

.nested_item {
  padding-top: 3px;
}

.nested_item2 {
  padding-top: 3px;
}

.nested_link {
  margin-left: 5px;
  color: #fff;
  font-family: "PT Sans";
  &:hover {
    color: #a7e200;
  }
}

.nested_list {
  display: none;
}

.nested_list2 {
  display: none;
}

.signIn {
  text-transform: uppercase;
  color: #fff;
  &:hover {
    color: #a7e200;
  }
}