@import "../../index.scss";

.bodys {
  width: 100%;
}

.block {
  width: 47%;
  margin: auto auto 50px auto;
}

.Title {
  font-size: 26px;
  color: black;
  font-weight: 500;
  margin-bottom: 3%;
}

.Text {
  width: 100%;
  margin-bottom: 30px;
}