@import "../../index.scss";

.Block {
    width: 55%;
    margin: auto;
}

.Block2 {
    width: 100%;
    margin-top: 10%;
}

.Inputs {
    width: 60%;
    height: 50px;
    margin: auto;
    display: flex;
}

.Inputs input{
    width: 80%;
    height: 100%;
    font-size: 15px;
    padding: 5px 10px;
}

.Inputs button{
    width: 20%;
    height: 100%;
    font-size: 20px;
}

.BlockComment {
    width: 100%;
    margin: 5% 0;
    color: white;

}

/////
.Comment {
    width: 100%;
    margin-top: 3%;
}

.log {
    width: 100%;
    color: $green;
    font-size: 20px;
}

.text {
    width: 100%;
}

.text p{
    width: 100%;
    font-size: 17px;
    font-weight: 700;
}

.text span{
    width: 100%;
    color: white;
    font-size: 15px;
}