@import "../../index.scss";

.Block {
  width: 55%;
  margin: auto;
}

.Block2 {
  width: 100%;
  margin-top: 10%;
}

.Inputs {
  width: 60%;
  height: 50px;
  margin: auto;
  display: flex;
  transition: 0.250ms;
}

.Inputs input {
  width: 80%;
  height: 100%;
  font-size: 15px;
  padding: 5px 10px;
}

.Inputs button {
  width: 30%;
  height: 100%;
  font-size: 20px;
  cursor: pointer;
  background-color: #a3dc06;
  border: none;
  color: #fff;
  border-radius: 5px;
  margin-left: 2px;

  &:hover {
    background-color: #94c50f;
    color: rgb(245, 241, 241);
    transform: scale(1.02);
    transition: 00.5s;
  }
}

.BlockComment {
  width: 100%;
  margin: 5% 0;
  color: white;
}

/////
.Comment {
  width: 100%;
  margin-top: 5%;
}

.log {
  width: 100%;
  color: gray;
  font-size: 20px;
  display: flex;
  align-items: center;
  margin-top: 0;
}

.pp {
  font-size: 24px;
  color: $gray;
}

.pp:first-letter {
  color: $green;
  font-size: 27px;
}

.text {
  width: 100%;
}

.sp {
  width: 100%;
  font-size: 17px;
  font-weight: 700;
  margin-bottom: 0;
}

.text span {
  width: 100%;
  color: white;
  font-size: 15px;
}