*,
*::before,
*::after {
  margin: 0;
  box-sizing: border-box;
}


ul {
  list-style: none;
}

a{
  text-decoration: none;
}



.main_route {
  min-height: 100vh;
}

$black: #151a22;
$green: #a7e200;
$blue: #1c232e;
$gray: #8490a4;

